* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Karla', sans-serif;
    color: #323A45;
    padding: 10px 3%;
}

header {
    height: 10vh;
}

.nav-wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 15px 0;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 40%;
}

header a {
    font-size: 0.9em;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style-type: none;
}

#logo {
    font-size: 1.1em;
    font-weight: 600;
    color: #333;
}

#logo:hover {
    color: #848484;
}

#expand-toggle {
    display: none;
}

.expand-btn {
    display: none;
}

/*first large product photo*/

section:nth-of-type(odd) {
    padding-bottom: 3vh;
    width: 100%;
}

section:nth-of-type(odd) a {
    display: block;
    height: 82vh;
}

section:nth-of-type(1) a {
    background: url(../img/1.png) center/cover no-repeat;
}

.caption-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    line-height: 1.5;
    padding: 5px 0 10px 0;
}

.grey {
    color: #848484;
}

/*first gallery*/

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

section:nth-of-type(even) img {
    width: 100%;
}

section:nth-of-type(even) {
    padding-bottom: 3vh;
}

/* second large product photo */

section:nth-of-type(3) a {
    background: url(../img/d7.png) center/cover no-repeat;
}

/* third large product photo */

section:nth-of-type(5) a {
    background: url(../img/h6.png) center/cover no-repeat;
}

/* 4th large product photo */

section:nth-of-type(7) a {
    background: url(../img/c22.png) center/cover no-repeat;
}

/* 5th large product photo */

section:nth-of-type(9) a {
    background: url(../img/u8.png) center/cover no-repeat;
}

/* 5th gallery - 3 photos in a row */

.three-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 5vh;
}

/* 1st footer - links */

footer:nth-of-type(1) {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 22vh;
    gap: 20px;
}

footer:nth-of-type(1) div {
    line-height: 1.5;
}

footer:nth-of-type(1) h3 {
    padding-bottom: 3vh;
    font-size: 1em;
}

footer:nth-of-type(1) p, footer:nth-of-type(1) ul {
    font-size: 0.9em;
}

.new-line {
    display: inline-block;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

footer:nth-of-type(1) div:last-of-type {
    padding-left: 35%;
}

/* 2nd footer copyright*/

footer:nth-of-type(2) {
    color: #848484;
    font-size: 0.9em;
    padding-bottom: 5px;
}

header a:hover, footer a:hover {
    color: #848484;
}

img:hover {
    opacity: 0.3;
    transition: 0.5s;
}

.large-img:hover {
    opacity: 0.3;
    transition: 0.5s;
}

@media (min-width:768px) and (max-width:979px) {
    header ul {
        width: 55%;
    }
}

@media (max-width:767px) {
    /* hamburger menu */
    #nav {
        height: 4vh;
        position: absolute;
        top: 6vh;
        right: 30px;
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        visibility: collapse;
    }
    #expand-toggle {
        display: none;
    }
    .expand-btn {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
        height: 30px;
        width: 30px;
    }
    #expand-toggle:checked~* #nav {
        visibility: visible;
    }
    label i {
        height: 30px;
        width: 30px;
        font-size: 1.3em;
        color: #323A45
    }
    #nav li:hover {
        border-bottom: 1px solid #848484;
    }
    section:nth-of-type(odd) a {
        height: 40vh;
    }
    .gallery {
        display: block;
    }
    .three-photos {
        display: block;
        padding-bottom: 8vh;
    }
    footer:nth-of-type(1) {
        display: block;
    }
    footer:nth-of-type(1) div:last-of-type {
        padding-left: 0;
    }
    footer:nth-of-type(1) div {
        padding-bottom: 4vh;
    }
}